/* exo-2-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/exo-2-v24-latin-regular.woff2") format("woff2");
}

/* exo-2-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/exo-2-v24-latin-700.woff2") format("woff2");
}

:root {
  --blue-color: #0251ff;
  --dark-blue-color: #003bb5;
  --green-color: hsl(142, 43%, 54%);
  --red-color: hsl(0, 64%, 52%);
  --black-color: #666;
  --btn-padding: 8px 10px;
  --inner-setion-margin: 30px;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: normal;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: "Exo 2", sans-serif;
  line-height: 1.5;
  background-color: #fafafa;
}

* {
  font-family: inherit;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  gap: 20px;
  padding: 30px;
  margin: 50px auto;
  border-style: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.passwort-requirements {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

input {
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  padding: 7px 10px;
}

.register-element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name-container {
  display: flex;
  display: flex;
  justify-content: space-between;
}

.firstname-container {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.password-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.password-container input {
  flex-grow: 1;
}

.custom-select {
  position: relative;
  width: 100%;
}

.select-selected {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.select-items {
  position: absolute;
  background-color: white;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 99;
  display: none;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  padding: 5px;
}

.select-items div {
  padding: 10px;
}

.select-items div:hover {
  background-color: #ccc;
}

.active {
  display: flex;
}

.submit-btn {
  background-color: var(--blue-color);
  color: white;
  padding: 10px 0;
  border-style: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkbox {
  display: flex;
  gap: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.check-btn {
  background-color: #d2d2d2;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.check-btn::before {
  position: absolute;
  content: "";
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 2px;
  top: 2.5px;
  transition: left 0.3s ease;
}

input[type="checkbox"]:checked + .check-btn {
  background-color: var(
    --green-color
  ); /* Farbe, wenn der Schalter aktiviert ist */
}

input[type="checkbox"]:checked + .check-btn::before {
  left: 27px; /* Bewege den inneren Schalter nach rechts, wenn aktiviert */
}
#check {
  display: none;
}

/* --------- HEADER ---------- */

header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 30px;
}

.login-btn {
  background-color: var(--blue-color);
  color: white;
  padding: var(--btn-padding);
  border-style: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logo li a {
  font-size: 24px;
  color: var(--blue-color);
  font-weight: bold;
}

.login-btn:hover,
.submit-btn:hover {
  background-color: var(--dark-blue-color);
}

/* ------ LANGUAGE SELECT ------ */

.right-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Styling für das Select */
.right-header select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

select:focus {
  outline: none;
  border-color: #0251ff;
}
